<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-grid>
    <ion-row >
      <ion-button class="managerBtn" color="pink" routerLink="/history" routerDirection="forward">History</ion-button>
      <ion-button class="restockBtn" color="pink" routerLink="/restock" routerDirection="forward">Restock</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>




