ion-row{
    justify-content:center;
    align-items: center;
    height: 100%; 
    flex-direction: column;
    margin-top: 75%;
}

.managerBtn{
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 50px;
}

.restockBtn{
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 50px;
}


