ion-input{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    border-radius: 10px !important;
    padding-right: 30px;
    border: 1px solid rgb(68, 68, 68) !important;
    width: 85%;

}

section{
    
    display: flex;
    justify-content: center;
  
}

ion-button{
    background-color: transparent;
    color: blue;
    fill: clear;
}

ion-list{
    margin-left: 10px;
    margin-right: 20px;
}
ion-note{
    font-size: 13px;
}

.highlight {
    --ion-item-background:#b3b3b3d5;
  }